.form {
  margin: 0 1rem;
  padding: 20px 32px;
  border: 1px solid #babde7;
  border-radius: 8px;
  box-shadow: 0 1px 2px 2.5px rgba(5, 2, 53, 0.05);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formControl {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  align-self: flex-start;
  width: 100%;
}

.label {
  font-size: 1.1rem;
}

.formInput {
  width: calc(100% - 32px * 2);
  padding: 0.8rem 0.6rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #737377;
  border: 1px solid #c0c2cf;
  transition: all 150ms ease-out;
  display: block;
}
.formInput:focus-visible {
  outline: 1px solid #5267c2;
}

.btn {
  margin-top: 1rem;
  border: transparent;
  border-radius: 4px;
  background-color: #0715d3;
  transition: all 150ms ease-out;
  color: #fff;
  font-size: 1.2rem;
  padding: 8px 16px;
}

.btn:hover {
  background-color: #1e0eb3;
}

.divider {
  margin: 32px 0;
  height: 1px;
  background-color: #dbdbe4;
}

.alert {
  width: calc(100% - 32px * 2);

  border-radius: 6px;
  padding: 10px 8px;
  margin: 1rem 0px;
}

.alert p {
  margin: 0.2rem;
}

.error {
  background-color: hsl(8, 58%, 93%);
  color: hsl(8, 76%, 23%);
  border: 1px solid hsl(8, 16%, 72%);
  box-shadow: 0 2px 5px hsla(8, 93%, 11%, 0.05);
}

.success {
  background-color: hsl(80, 58%, 93%);
  color: hsl(80, 76%, 23%);
  border: 1px solid hsl(80, 16%, 72%);
  box-shadow: 0 2px 5px hsla(80, 93%, 11%, 0.05);
}
